<div class="container tweet {{ post.slug }}">
  <div class="row content">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <blockquote class="twitter-tweet" lang="en" align="center">
        <p>{{ post.html }}</p>
        <a href="{{ post.tweet }}">{{ post.timestamp }}</a>
      </blockquote>
    </div>
  </div>
  <div class="post-footer">
    <i class="fa fa-certificate icon-2x"></i>
  </div>
</div>

